{
	"trailingComma": "es5",
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"printWidth": 120,
	"bracketSpacing": true,
	"arrowParens": "always",
	"endOfLine": "auto",
	"svelteStrictMode": false,
	"svelteBracketNewLine": true,
	"svelteAllowShorthand": true,
	"plugins": ["prettier-plugin-svelte"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
